body {
  height: 100vh;
  margin: 0;
}

#gradient {
  background-image: linear-gradient(green, seagreen, darkgreen);
}

#overlay {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  font-family: monospace;
  font-size: 2vh;
  padding: 1em;
  border-radius: 1em;
  border: 0.2rem solid #ffffff;
  text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}

.container {
  position: absolute;
  margin: auto;
  top: 3vh;
  right: 0;
  bottom: 0;
  left: 13vw;
  height: 85vh;
}

a {
  margin: auto;
  color: Blue;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

h1 {
  font-size: 3.5vh;
  margin: auto;
  color: Blue;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

h2 {
  font-size: 3.5vh;
  margin: auto;
  color: aqua;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}
